__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.ipynb_checkpoints/
*.ipynb
checkpoints/
visualizations/
dataset/
.DS_Store
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.log
*.sql
*.sqlite
*.h5
*.pth
*.pkl
*.pickle
.vscode/
.idea/
*.swp
*.swo
*.raw
*.npy
*.npz
*.hdf5
*.h5
*.dat
*.bin
